* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  background-color: rgba(29, 33, 34, 0.836);
}

ul {
  list-style: none;
}

.titulo-secciones {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  text-align: center;
}

.parrafo {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  text-align: center;
}

.header-grilla {
  display: grid;
  grid-template-rows: 1fr 1/2fr;
  gap: 1rem;
}

.header-imagen {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 35vh;
}

.texto-titulo {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
  .header-grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .header-imagen {
    width: 40%;
  }
}
footer {
  background-color: rgba(29, 33, 34, 0.836);
  padding: 1rem;
}
footer-grilla {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
footer-grilla-posicion {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@media (min-width: 768px) {
  .footer-grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    justify-content: center;
    align-content: center;
  }
  .footer-grilla-posicion {
    grid-column: 1/2;
  }
}
.grilla-index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1/2fr 1fr 1fr 1fr;
  row-gap: 1rem;
  margin: 1rem;
}

.edicion-titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.contenedor-video {
  display: flex;
  justify-content: center;
  align-content: center;
}

.tamano-video {
  width: 35vh;
}

.maps {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media (min-width: 768px) {
  .grilla-index {
    display: grid;
    grid-template-columns: 60% 37%;
    grid-template-rows: 12% 45% 1fr;
    gap: 3%;
  }
  .edicion-titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-column: 1/3;
  }
  .contenedor-video {
    grid-row: 2/4;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .tamano-video {
    width: 60%;
  }
  .contenedor-parrafo {
    display: flex;
    grid-row: 3/4;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }
  .maps {
    grid-template-columns: 2/3;
    grid-template-rows: 2/3;
  }
}
.centrodeayuda-grilla {
  display: grid;
  grid-template-rows: repeat(3 1fr);
  gap: 1rem;
  padding: 2rem;
}

@media (min-width: 768px) {
  .grilla-centrodeayuda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1/2fr 1fr 1/2fr;
  }
  .grilla-centrodeayuda-tamano-foto {
    width: 70vh;
  }
}
.grilla-cuidadonaturaleza {
  display: grid;
  grid-template-rows: 1/2fr 1fr 1/2fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-self: center;
}

@media (min-width: 768px) {
  .grilla-cuidadonaturaleza {
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3 1fr);
    gap: 2rem;
  }
  .titulo-secciones {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column: 1/3;
  }
}
img {
  max-width: 100%;
}

.grilla-refugio {
  display: grid;
  padding: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  img {
    max-width: 100%;
  }
  .titulo-secciones {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column: 1/3;
  }
  .grilla-refugio {
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2 1fr);
    gap: 2rem;
  }
  .grilla-refugio-posicion {
    display: flex;
    text-align: center;
  }
}
.alineacion {
  text-align: center;
}

.grilla-tienda {
  display: grid;
  padding: 2rem;
  grid-template-rows: 30% 30% 30%;
  gap: 3rem;
}
.grilla-tienda-posicion {
  display: flex;
  justify-content: center;
}
.grilla-tienda-espacio {
  max-height: 35vh;
}

@media (min-width: 768px) {
  .grilla-tienda {
    display: grid;
    padding: 2rem;
    grid-template-columns: 30% 30% 30%;
    gap: 3rem;
  }
  .grilla-tienda-posicion {
    display: flex;
    justify-content: center;
  }
  .grilla-tienda-espacio {
    max-height: 40vh;
  }
}

/*# sourceMappingURL=styles.css.map */
