.grilla-cuidadonaturaleza {
    display: grid;
    grid-template-rows: 1/2fr 1fr 1/2fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-self: center;
}

@media (min-width:768px) {

    .grilla-cuidadonaturaleza {
        display: grid;
        padding: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3 1fr);
        gap: 2rem;
    }

    .titulo-secciones {
        font-family: $ff-titulo-secundario;
        display: flex;
        flex-direction: column;
        text-align: center;
        grid-column: 1/3;
    }
}