footer{
    background-color: $bcg-c;
    padding: 1rem;
    &-grilla{
        display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    }
    &-grilla-posicion{
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
 }
 @media (min-width:768px){
    .footer-grilla{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
        justify-content: center;
        align-content: center;
        &-posicion{
            grid-column: 1/2; 
        }
    }
 }